.location {
	.inner {
		#map {
			width: 100%;
			height: 400px;
			background: #000;
		}

        button {
            padding: 5px 20px;
            margin: 20px 10px;
            font-size: 14px;
        }
	}
}